
@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/Index.css" rel="stylesheet" />
<h2>Index</h2>

<h3>Welcome to Bussiness Card System</h3>
<h2 align="center" style='color:purple'>MINDTREE</h2>

<div style="text-align:center">
    <tr>
        <td>
            <center> <a href="AddBussinessCard" class="button">Apply for  business Card</a></center><br /><br />
        </td>
    </tr>
    <tr>
        <td>
            <center> <a href="DisplayBussinessCardDetails" class="button">Apply for  business Card</a></center><br /><br />
        </td>
    </tr>
</div>